*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE GENERALI */

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom, #128c7e 0%, #128c7e 10%, #ece5dd 10%, #e3e1de 100%);
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.headerleft,.headerright,.footerright,.searchchat{
  background-color: #EAEAEA;
  border: 1px solid #e0e0e0;
}

.headerright, .footerright{
  position: fixed;
  overflow: hidden;
  height: 70px;
  width: 50vw;
}

.left, .right{
  height:95vh;
}

.left{
  width:30vw;
}

.right{
  width:50vw;
}

.contact p, .hour, i{
  color:#B1B1B1;
}


/* LEFTSIDE------------------------------------------------------------------ */

/* headerleft ---------- */

.headerleft{
  height: 70px;
}

img{
  width: 15%;
  border-radius: 100%;
  margin-left: 2%
}

.icon a{
  margin-right: 30%;
}
.icon{
  margin-right: 5%;
}

i{
  font-size: 20px;
}

/* notification----------------------------------- */

.notification{
  background-color: #8EDAFC;
  height: 80px;
  padding-top: 1%;
  clear: both;
}

.fa-bell-slash{
  background-color: #ffff;
  border-radius: 100%;
  color: #8EDAFC;
  padding:4% 3%;
  margin: 2% 4% 2% 4%;
  float: left;
}

.note{
  float: left;
  padding-top: 4%;
  width:70%;
}

.note a, p{
  font-size: 12px;
  color: #000;
}

/* search----------------------------------------------------------------- */

.searchchat{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.searchchat i, h2{
  font-size: 15px;
}

label{
  background-color: #fff;
  margin: 1% 0 1% 1%;
  padding: 1.5% 4%;
}

input{
  margin: 1% 1% 1% 0;
  border: none;
}

input[type="text"]{
  width: 100%;
}

/* contacts------------------------------------------------------------------ */

.chatcontacts{
  height:calc(100% - 70px - 80px - 6.5%);
  overflow-y: scroll;
}

.chatcontacts::-webkit-scrollbar, .mainchat::-webkit-scrollbar{
  width:8px;
}

.chatcontacts::-webkit-scrollbar-thumb, .mainchat::-webkit-scrollbar-thumb{
  background: #B1B1B1;
}

.contact{
  height: 80px;
  background-color:#f5f5f5;
  border: 1px solid #e0e0e0;
}

.active{
  background-color: #eaeaea;
}

.contact:hover{
  background-color: #eaeaea;
}

.nomi{
  width:80%;
  margin-left: 2%;
  line-height: 1.5;
}

.hour{
  font-size: 12px;
  margin: 0 1% 4% 0;
}

/* right side----------------------------------------------------------------*/

.contactright{
  width: 8%;
}

.imchattingwith{
  width:80%;
  margin-left: 2%;
}

.imchattingwith span{
  color: #000;
}

/* mainchat----------------------------------------------------------------- */

.mainchat{
  background-image: url("img/sfondo.jpg");
  margin-top: 70px;
  height: calc(100% - 70px - 70px);
  overflow-y: scroll;
  /* display: none; */
  padding-top: 2%;
}

.message span, .fa-chevron-down{
  font-size: 14px;
}

.message>.hour{
  margin-left: 80%;
  font-size: 10px;
  padding-bottom: 1.5%;
}

.message{
  background-color: #dcf8c6;
  border-radius: 10px;
  text-align: left;
  clear: both;
  padding:1.2% 2% 0 2%;
  max-width: 60%;
  min-width: 20%;
  margin: 2%;
}

.greenmessage{
  float: right;
}

.whitemessage{
  float: left;
  background-color: #ffff;
}

ul{
  position: absolute;
  list-style-type: none;
  background-color: #ffff;
  font-size: 12px;
  padding: 1%;
  line-height: 2;
}

.mainchat.active{
  display: block;
}

.mainchat.ghost, .deletemenu{
  display: none;
}

i.fa-chevron-down{
  float: right;
  visibility: hidden;
}

.message:hover i.fa-chevron-down{
  visibility: visible;
}



/* footerright-------------------------------------------------------------- */

.footerright input[type="text"]{
  width:100%;
}

.footerright input{
  padding: 2% 3%;
  margin: 0 4%;
}

.fa-smile, .fa-paper-plane{
  color:#505050;
  font-size: 25px;
}

.footerright{
  padding: 2%;
}


/* fine right side */

@media all and (max-width:1200px){

  .fa-bell-slash{
    margin-top: 4%;
  }

};
